:root {
  --breakpoint-desktop: 1440px;
  --breakpoint-mobile: 375px;

  --red-color: #fe7867;
  --yellow-color: #fad400;
  --dark-cyan-color-text: #25564b;
  --dark-blue-color-paragraph: #19536b;
  --dark-footer-color: #458c7e;
  --white-color: #fff;

  --fontsize: 18px;

  --ffamily-barlow: 'Barlow', system-ui, sans-serif;
  --ffamily-fraunces: 'Fraunces', serif;

  --font-weight-barlow: 600;
  --font-weight-fraunces-1: 700;
  --font-weight-fraunces-2: 900;

  --container-max-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ffamily-barlow);
  width: 100%;
  line-height: 1.5;
  /* overflow-x: hidden; */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 150px;
  height: 25px;
}

.header-container {
  width: 100%;
  height: 44rem;
  background-image: url(../assets/desktop/medianaranjaabajo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-position: center;
}

.header-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 4rem;
}

.nav-logo,
.nav-list {
  margin-top: 1rem;
}

.nav-menu {
}

.nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links {
  color: var(--white-color);
  font-weight: var(--font-weight-barlow);
  font-size: var(--fontsize);
  font-family: var(--ffamily-barlow);
}

.nav-hamburguer {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.nav-button {
  background-color: var(--white-color);
  width: 6rem;
  height: 3rem;
  border-radius: 20px;
  font-family: var(--ffamily-fraunces);
  border: transparent;
  font-weight: var(--font-weight-fraunces-2);
}

.hero-title {
  color: var(--white-color);
  font-size: 4rem;
}

.hero-container {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero-logo {
  margin-top: 4rem;
  background-image: url(../assets/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 80px;
  width: 80px;
}

/* FLEX CONTAINER  */

.flex-container {
  width: 100%;
}

/* FLEX 1 */

.section1 {
  display: flex;
  /* text-align: center; */
}

/* FLEX SIZES */
.flex1-left,
.flex1-right,
.flex2-left,
.flex2-right,
.flex3-left,
.flex3-right {
  width: 50%;
  height: 30rem;
}

.flex1-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  /* height: 48rem; */
}

.flex1-left h2,
.flex2-right h2 {
  font-size: 2rem;
  font-weight: var(--font-weight-fraunces-1);
  padding: 1rem;
}

.flex1-left p,
.flex2-right p {
  font-size: 1.1rem;
  color: var(--dark-blue-color-paragraph);
  /* padding: 2rem; */
}

.flex1-left a,
.flex2-right a {
  color: var(--dark-blue-color-paragraph);
  font-family: var(--ffamily-fraunces);
  font-weight: var(--font-weight-fraunces-2);
  font-size: 1rem;
  border-bottom: 5px solid var(--yellow-color);
  margin-top: 1rem;
}

.flex1-right {
  background-image: url(../assets/desktop/huevo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

/* FLEX 2 */

.section2 {
  display: flex;
}

.flex2-left {
  background-image: url(../assets/desktop/coparosa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* height: 48rem; */
  /* width: 50%; */
}

.flex2-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  /* height: 48rem; */
}

/* FLEX 3 */
.section3 {
  display: flex;
}

.flex3-left {
  background-image: url(../assets/desktop/cerezas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex3-right {
  background-image: url(../assets/desktop/naranjasola.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
  /* height: 48rem; */
}

.flex3-left h2,
.flex3-right h2 {
  margin-top: 20rem;
  font-size: 2rem;
  font-weight: var(--font-weight-fraunces-1);
}

.flex3-left p,
.flex3-right p {
  font-size: 1.1rem;
  color: var(--dark-blue-color-paragraph);
  padding: 0 3rem 0 3rem;
}

/* TESTIMONIAL SECTION */
.testimonials {
  text-align: center;
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

.testimonials-title {
  color: #c4c4c3;
  font-size: 2rem;
  font-family: var(--ffamily-barlow);
  font-weight: var(--font-weight-barlow);
  padding: 2rem;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 3fr));
  gap: 1rem;
  /* margin-top: 2rem; */
  width: 100%;
}

h4 {
  color: gray;
  font-size: 0.9rem;
  font-weight: var(--font-weight-fraunces-1);
  /* padding: 1rem; */
}

.testimonials-card1,
.testimonials-card2,
.testimonials-card3 {
  padding: 2rem;

  & h3 {
    font-size: 1rem;
    font-weight: var(--font-weight-fraunces-2);
    padding-top: 2rem;
  }
}

.card1,
.card2,
.card3 {
  border-radius: 100%;
  max-width: 60px;
  height: 60px;
  margin-bottom: 1.6rem;
  /* padding: 0 3rem 0 3rem; */
}

/* SLIDER SECTION */
.grid-slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.mil-image,
.orange-image,
.cono-image,
.cups-image {
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  height: 30rem;
  width: 100%;
}

.milk-image {
  background-image: url(../assets/desktop/cajadeleche.jpg);
  background-size: cover;
}

.orange-image {
  background-image: url(../assets/desktop/medianaranjaenplato.jpg);
  background-size: cover;
}
.cono-image {
  background-image: url(../assets/desktop/cono.jpg);
  background-size: cover;
}
.cups-image {
  background-image: url(../assets/desktop/cubosdeazucar.jpg);
  background-size: cover;
}

/* FOOTER SECTION */
.footer-section {
  background-color: #62c0ad;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  text-align: center;
}

.logo-footer {
  color: var(--dark-cyan-color-text);
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* align-content: center; */
}

.footer-list {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
}

.footer-a {
  color: var(--dark-cyan-color-text);
  row-gap: 0;
}

.footer-socialmedia {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

/* QUERIES - MOBILE */

@media (max-width: 768px) {
  /* HEADER SECTION */
  .header-container {
    width: 100%;
    height: 31rem;
    background-image: url(../assets/mobile/mediaNaranjaAbajo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 500px;
    text-align: center;
  }

  .hero-logo {
    margin-top: 2rem;
    background-image: url(../assets/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 100px;
    width: 100px;
  }

  .hero-title {
    margin-top: -60px;
    padding: 0;
    font-size: 2.8rem;
    font-family: var(--ffamily-fraunces);
    width: 25rem;
  }

  .header-styles {
    display: flex;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  /* NAV SECTION */
  .nav-logo {
    margin-left: 2rem;
    /* height: 10rem; */
  }
  .nav-logo,
  .nav-list {
    /* margin-top: 1rem; */
  }

  .nav-menu {
  }

  .nav-list {
    display: none;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 14rem;
    right: 0;
    margin-top: 3rem;
    margin-right: 3.2rem;
    padding-top: 1rem;
    /* margin: 0 auto; */
    border-radius: 2rem;
  }

  .nav-list.show {
    display: flex;
    background-color: white;
  }

  .nav-links {
    color: gray;
    font-weight: var(--font-weight-barlow);
    font-size: var(--fontsize);
    font-family: var(--ffamily-barlow);
  }

  .nav-hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 22px;
    height: 20px;
    margin-right: 3rem;
    margin-top: 0.5rem;
  }

  .nav-button {
    background-color: yellow;
  }

  /* FLEX CONTAINER */
  .flex-container {
    width: 100%;
    text-align: center;
  }

  .section1 {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .flex1-right {
    background-image: url(../assets/mobile/huevo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

  .flex1-left,
  .flex1-right,
  .flex2-left,
  .flex2-right,
  .flex3-left,
  .flex3-right {
    width: 100%;
    height: 35rem;
  }
  .flex1-left {
  }
  .flex1-right {
  }
  .egg_image_right {
  }
  .section2 {
    display: flex;
    flex-direction: column;
  }

  .flex2-left {
    background-image: url(../assets/mobile/copaRosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }

  .flex2-left {
  }
  .flex2-right {
  }
  .flex1-left h2,
  .flex2-right h2 {
    font-size: 2rem;
    font-weight: var(--font-weight-fraunces-1);
    padding: 1rem;
  }

  .flex1-left p,
  .flex2-right p {
    font-size: 1.1rem;
    color: var(--dark-blue-color-paragraph);
    padding: 0 3rem 0 3rem;
  }
  .section3 {
    display: flex;
    flex-direction: column;
  }

  .flex3-left {
    background-image: url(../assets/mobile/ceresas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* image-rendering: crisp-edges; */
    /* image-rendering: pixelated; */
  }
  .flex3-right {
    background-image: url(../assets/mobile/Naranja.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* image-rendering: crisp-edges; */
    /* image-rendering: pixelated; */
  }

  .flex3-left h2,
  .flex3-right h2 {
    margin-top: 20rem;
    font-size: 2rem;
    font-weight: var(--font-weight-fraunces-1);
  }

  .flex3-left p,
  .flex3-right p {
    font-size: 1.1rem;
    color: var(--dark-blue-color-paragraph);
    padding: 0 3rem 0 3rem;
    margin-top: 1rem;
  }

  /* TESTIMONIALS SECTION */
  .testimonials {
    text-align: center;
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 3rem 0 3rem 0;
  }

  .testimonials-title {
    color: #c4c4c3;
    font-size: 1.5rem;
    font-family: var(--ffamily-barlow);
    font-weight: var(--font-weight-barlow);
    padding: 2rem;
    letter-spacing: 0.4rem;
  }

  .testimonial-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    width: 100%;
  }

  .card1,
  .card2,
  .card3 {
    border-radius: 100%;
    max-width: 70px;
    height: 70px;
    margin-bottom: 1.6rem;
    /* padding: 0 3rem 0 3rem; */
  }

  h4 {
    color: gray;
    font-size: 0.9rem;
    font-weight: var(--font-weight-fraunces-1);
    margin-top: 0.6rem;
  }

  .testimonials-card1,
  .testimonials-card2,
  .testimonials-card3 {
    padding: 2rem;

    p {
      font-size: 1.1rem;
      padding: 0 3rem 0 3rem;
    }

    & h3 {
      font-size: 1rem;
      font-weight: var(--font-weight-fraunces-2);
      padding-top: 2rem;
    }
  }

  .section2-image {
    background-image: url(../assets/mobile/huevo.jpg);
    background-size: cover;
  }

  .section3-image {
    background-image: url(../assets/mobile/copaRosa.jpg);
    background-size: cover;
  }

  .section5-image {
    background-image: url(../assets/mobile/ceresas.jpg);
    background-size: cover;
  }
  .section6-image {
    background-image: url(../assets/mobile/Naranja.jpg);
  }

  /* GRID SLIDER */
  .grid-slider {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .mil-image,
  .orange-image,
  .cono-image,
  .cups-image {
    height: 12rem;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-repeat: no-repeat;
  }

  .milk-image {
    background-image: url(../assets/mobile/botellaleche.jpg);
  }

  .orange-image {
    background-image: url(../assets/mobile/mediaNaranja.jpg);
  }
  .cono-image {
    background-image: url(../assets/mobile/helado.jpg);
  }
  .cups-image {
    background-image: url(../assets/mobile/cubosDeAzucar.jpg);
  }
}
