:root {
  --breakpoint-desktop: 1440px;
  --breakpoint-mobile: 375px;

  --red-color: #fe7867;
  --yellow-color: #fad400;
  --dark-cyan-color-text: #25564b;
  --dark-blue-color-paragraph: #19536b;
  --dark-footer-color: #458c7e;
  --white-color: #fff;

  --fontsize: 18px;

  --ffamily-barlow: 'Barlow', system-ui, sans-serif;
  --ffamily-fraunces: 'Fraunces', serif;

  --font-weight-barlow: 600;
  --font-weight-fraunces-1: 700;
  --font-weight-fraunces-2: 900;

  --container-max-width: 1200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ffamily-barlow);
  width: 100%;
  line-height: 1.5;
  /* overflow-x: hidden; */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 150px;
  height: 25px;
}

.header-container {
  width: 100%;
  height: 44rem;
  background-image: url(../assets/desktop/medianaranjaabajo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 5rem;
}

.header-styles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 4rem;
}

.nav-logo,
.nav-list {
  margin-top: 1rem;
}

.nav-menu {
}

.nav-list {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links {
  color: var(--white-color);
  font-weight: var(--font-weight-barlow);
  font-size: var(--fontsize);
  font-family: var(--ffamily-barlow);
}

.nav-hamburguer {
  display: none;
}

.nav-button {
  background-color: var(--white-color);
  width: 6rem;
  height: 3rem;
  border-radius: 20px;
  font-family: var(--ffamily-fraunces);
  border: transparent;
  font-weight: var(--font-weight-fraunces-2);
}

.hero-title {
  color: var(--white-color);
  font-size: 4rem;
}

.hero-container {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hero-logo {
  margin-top: 4rem;
  background-image: url(../assets/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  height: 80px;
  width: 80px;
}

/* GRID SECTION */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.section1,
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 10rem;
  background-color: var(--white-color);
  height: 32rem;
  width: 100%;
}

.section2-image,
.section3-image,
.section5-image,
.section6-image {
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  height: 32rem;
  width: 100%;
}

.section2-image {
  background-image: url(../assets/desktop/huevo.jpg);
  background-size: cover;
}

.section3-image {
  background-image: url(../assets/desktop/coparosa.jpg);
  background-size: cover;
}

.section5-image {
  background-image: url(../assets/desktop/cerezas.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;

  & .description-sec5 {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 23rem;
    flex-wrap: wrap;
  }
}
.section6-image {
  background-image: url(../assets/desktop/naranjasola.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;

  & .description-sec6 {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 23rem;
    flex-wrap: wrap;

    & p {
    }
  }
}

/* TESTIMONIAL SECTION */
.testimonials {
  text-align: center;
  width: 100%;
  display: grid;
  justify-content: center;
  padding: 3rem 0 5rem 0;
}

.testimonials-title {
  color: #a8a8a7;
  font-size: 1.5rem;
  font-weight: var(--font-weight-fraunces-1);
  padding: 3rem;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

h4 {
  color: gray;
  font-size: 0.9rem;
  font-weight: var(--font-weight-fraunces-1);
  padding: 1rem;
}

.testimonials-card1,
.testimonials-card2,
.testimonials-card3 {
  padding: 2rem;

  & h3 {
    font-size: 1.5rem;
    font-weight: var(--font-weight-fraunces-2);
    padding-top: 2rem;
  }
}

.card1,
.card2,
.card3 {
  border-radius: 100%;
  max-width: 40px;
  height: 40px;
  /* padding: 0 3rem 0 3rem; */
}

/* SLIDER SECTION */
.grid-slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4, 1fr));
  /* repeat(auto-fit, minmax(300px, 1fr)); */
}

.mil-image,
.orange-image,
.cono-image,
.cups-image {
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  height: 30rem;
  width: 100%;
}

.milk-image {
  background-image: url(../assets/desktop/cajadeleche.jpg);
  background-size: cover;
}

.orange-image {
  background-image: url(../assets/desktop/medianaranjaenplato.jpg);
  background-size: cover;
}
.cono-image {
  background-image: url(../assets/desktop/cono.jpg);
  background-size: cover;
}
.cups-image {
  background-image: url(../assets/desktop/cubosdeazucar.jpg);
  background-size: cover;
}

/* FOOTER SECTION */
.footer-section {
  background-color: #62c0ad;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  text-align: center;
}

.logo-footer {
  color: var(--dark-cyan-color-text);
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* align-content: center; */
}

.footer-list {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
}

.footer-a {
  color: var(--dark-cyan-color-text);
  row-gap: 0;
}

.footer-socialmedia {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

/* QUERIES */

@media (max-width: 600px) {
  /* HEADER SECTION */
  .header-container {
    width: 100%;
    height: 41rem;
    background-image: url(../assets/mobile/mediaNaranjaAbajo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 500px;
    text-align: center;
  }

  .hero-title {
    font-size: 1rem;
  }
  .header-styles {
    display: flex;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .nav-logo {
    padding: 1rem 0 0 2rem;
  }

  .nav-list {
    /* margin-top: 1rem; */
    display: none;
    background-color: black;
  }

  /* GRID SECTION */
  .grid-container {
    grid-template-columns: 1fr;
  }

  .section1,
  .section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10rem;
    background-color: var(--white-color);
    height: 32rem;
    width: 100%;
  }

  .section2-image,
  .section3-image,
  .section5-image,
  .section6-image {
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    height: 32rem;
    width: 100%;
  }

  .section2-image {
    background-image: url(../assets/mobile/huevo.jpg);
    background-size: cover;
  }

  .section3-image {
    background-image: url(../assets/mobile/copaRosa.jpg);
    background-size: cover;
  }

  .section5-image {
    background-image: url(../assets/mobile/ceresas.jpg);
    background-size: cover;
    /* display: flex;
    justify-content: center;
    text-align: center; */

    & .description-sec5 {
      /* margin-top: 20rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      width: 23rem;
      flex-wrap: wrap; */
    }
  }
  .section6-image {
    background-image: url(../assets/mobile/Naranja.jpg);
    /* background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center; */

    & .description-sec6 {
      /* margin-top: 20rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      width: 23rem;
      flex-wrap: wrap; */

      & p {
      }
    }
  }

  /* GRID SLIDER */
  .grid-slider {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4, 1fr)); */
    /* repeat(auto-fit, minmax(300px, 1fr)); */
  }

  .mil-image,
  .orange-image,
  .cono-image,
  .cups-image {
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    /* height: 30rem;
    width: 100%; */
  }

  .milk-image {
    background-image: url(../assets/mobile/botellaleche.jpg);
    background-size: cover;
  }

  .orange-image {
    background-image: url(../assets/mobile/mediaNaranja.jpg);
    background-size: cover;
  }
  .cono-image {
    background-image: url(../assets/mobile/helado.jpg);
    background-size: cover;
  }
  .cups-image {
    background-image: url(../assets/mobile/cubosDeAzucar.jpg);
    background-size: cover;
  }
}
